.Country {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-top: 20px;
}

.countryCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: 150px;
}

.countryCard img {
  width: 100px;
  height: auto;
  margin-bottom: 8px;
}

.countryCard p {
  text-align: center;
}

.search {
  margin-top: 30px;
}

.search input {
  width: 60%;
  height: 30px;
  border: 1px solid rgb(107, 99, 99);
  outline: none;
  box-shadow: 5px 5px 8px gray;
}

.search input :focus {
  border: none;

}